<div class="text about">
	<h3>Biosketch</h3>
	<p>
		Mike Xu is an aspiring software developer and entrepreneur.  He is currently pursuing a B.S. in Computer Science at Case Western Reserve University and plans to graduate in May of 2014.
	</p>
	<p>
		As a child, building LEGO robots and creating Flash animations sparked his humble beginnings as a programmer.  Throughout high school these hobbies led to his discovery of the languages NQC and ActionScript for bringing interactivity to those creations.  Brief exploratory forays into a variety of programming languages and internet technologies eventually culminated into an interest in web development.
	</p>
	<p>
		He has spent the past 2 years gaining experience pushing production code to both the front and back end of the independent ecommerce business Metro Swim Shop and multiple brand sites for the American Greetings Corporation.  Mike is currently exploring life at a startup architecting the software ecosystem for wearable Bluetooth user authentication devices for EveryKey.
	</p>
	<p>
		Feel free to contact him with any software development opportunities.  Mike’s goal is to combine an academic understanding of computer science with real word coding expertise to create flawless service-oriented distributed web products.  He is well versed in HTML, CSS, Javascript, Java, Python, and Actionscript.  He also has experience working with software and frameworks such as Apache Tomcat, Node.js, AngularJS, Firebase, MySQL, and Git.
	</p>
	<br>
	<p>
		Click <a href="/docs/About.pdf">here</a> to download a pdf version of this document
	</p>
</div>