<div class="text">
	<div class="eduText">
		<h3>Education:</h3>
		<h4>Case Western Reserve University | <small>Bachelor of Science, Computer Science</small></h4>
		Cleveland, OH | <em>May 2014</em>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<h3>Languages:</h3>
			<div class="qualItem" ng-repeat="lang in languages">
				{{lang}}
			</div>
		</div>
		<div class="col-md-6">
			<h3>Software:</h3>
			<div class="qualItem" ng-repeat="soft in softwares">
				{{soft}}
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	Click <a href="/docs/Resume.pdf">here</a> to download a copy of my resume<br>
	Find me on <a href="https://github.com/mxu">Github</a>
</div>